body {
    margin: 0;
    padding: 0;
}
/* Style for heading */
h1 {
    text-align: left;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(30, 29, 29);
    font-family:sans-serif;
    text-shadow:4px 4px 4px rgba(0, 0, 0, 0.4) ;
}

/* Style for menubar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 148px;
    text-decoration: none;
}
.li a.active {
    background-color: #c1c6cb;
    color: black;
}

li a:hover:not(.active){
    background-color: #111;
}

.stats {
    margin-top:0px;
    /* display: flex; */
    align-items: left;
    justify-content: space-between;
    font-size: 15px;
    color: #484242;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}    


/* Style for filters */
.filter {
    margin-top: 0px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

.filter label {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

.filter select {
    font-size: 14px;
    padding: -1px;
    border-radius: 5px;
}

.filter button[type="submit"] {
    background-color: #d0c5c5;
    margin-left: 10px ;
    color: rgb(0, 0, 0);
    border: black;
    padding: 2px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.filter button[type="submit"]:hover {
    background-color: #767a7e;
}

/* Style for complaint table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url("Admin.jpg");
    background-position:left ;
    background-size: cover;
    position: absolute;
}