<!DOCTYPE html>
<html>
<head>
  
  <title>Admin Login Form</title>
  <link rel="stylesheet" href="../static/login.css">
  
</head>
<body>
  <div class="hero">
<div class="form-box"> 
    <div class="text1">Admin Login</div>
  <form id="login" class="input-group" name="myForm" action="/admin" method="Post" required>
    <input type="text" name="ID" class="input-field" placeholder="User Id" required>
    <input type="password" name="password" class="input-field" placeholder="Enter Password" required>
    <button type="submit" class="submit-btn" value="submit">Log In</button>
  </form>
</div>
  </div>

  <script>
    var x = document.getElementById("login")
    var z = document.getElementById("btn")

    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
    }

    

  </script>

</body>
</html>