<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="../static/styleadminpage.css">
</head>

<body>
    <!-- <script>
        function disp()
        {
            var x=document.getElementById("domain1").value;
            if(x=="Civil")
            document.getElementById("c3").innerHTML="Civil";
            else if(x=="Electrical")document.getElementById("c3").innerHTML="Electrical";
            else if(x=="Water Cooling")document.getElementById("c3").innerHTML="Water Cooling";
            else if(x=="Air Conditioning")document.getElementById("c3").innerHTML="Air Conditioning";
            else document.getElementById("c3").innerHTML="ALL";
           
        }
            
    </script> -->
    <!-- {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}   -->


	<div class="body"> 
    <!-- Heading -->
	<h1>Maintainence Portal Dashboard</h1>
    <button class="Logout" type="submit">Log Out</button>
	<!-- Menubar -->
        <ul>
            <li><a href="#">Housing</a></li>
            <li><a href="#">Hostel</a></li>
            <li><a href="#">Guest House</a></li>
            <li><a href="#">Specific Location</a></li>
        </ul>

    <!--STATS-->
    <div class="stats">
        
        <span id="totalComplaints">Total Complaints: 50</span>
        <span> | </span>
        <span id="completed">Completed: 30</span>
      </div>

	<!-- Filters -->
	<div class="filter">
		<label for="domain">Domain:</label>
        <form id="login" class="input-group" name="myForm" action="/filter" method="Post" required>
            <select id="domain1" name="filter" onchange="this.form.submit()">
            <option value="" >Select Domain</option>
            <option value="All" >All</option>
			<option value="Civil">Civil</option>
			<option value="Electrical">Electrical</option>
			<option value="Air-Conditioning">Air-Conditioning</option>
            <option value="Water Cooler">Water Cooling</option>
		</select>
        </form>
	</div>
    
	<!-- Complaint Table -->
	<table>
		<thead>
			<tr>
                <th>Complaint ID</th>
				<th>User ID</th>
                <th>Subject</th>
				<th>Domain</th>
				<th>Sub-Domain 1</th>
				<th>Sub-Domain 2</th>
				<th>Location</th>
                <th>Specific Location</th>
                <th>Availability</th>
                <th>Complaint Status</th>
				<th>Image</th>
			</tr>
		
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>   
            </tr>
            {% endfor %}
        </thed>
        </tbody>
    