<!DOCTYPE html>
<html>
<head>
  
  <title>Reset Password Form</title>
  <link rel="stylesheet" href="../static/forgot_password.css">
  
</head>
<body>
  
  <div class="hero">
<div class="form-box"> 
    <div class="text1">Account Recovery</div>
    <div class="text2">To help keep your account safe, we want to make sure that it’s really you trying to sign in</div>
  <form id="login" class="input-group" name="myForm" action="/OTP" method="Post" required>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <input type="text" name="To_mail" class="input-field" placeholder="Email ID" required>
    <button type="submit" class="submit-btn1" id="sbm" value="submit">Send OTP</button>
  </form>
</div>
  </div>

  <script>
    var x = document.getElementById("login")
    var z = document.getElementById("btn")

    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
    }

    

  </script>

<script>
  // Get all elements with class="closebtn"
  //var close = document.getElementsByClassName("submit-btn1");
  //var i;
  
  // Loop through all close buttons
   // for (i = 0; i < close.length; i++) {
    // When someone clicks on a close button
    //close[0].onclick = function(){
  
      // Get the parent of <span class="closebtn"> (<div class="alert">)
      //var div = this.parentElement;
  
      // Set the opacity of div to 0 (transparent)
       //div.style.opacity = "0";
  
      // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
      //setTimeout(function(){ div.style.display = "none"; }, 600);
    //}
    //}
    //var a=document.getE
    
  function getconfirm(){
    var close = document.getElementById("sbm");
    
    // document.write("OTP has been send")
    close=addEventListener("click",function(){
      event.preventDefault();
      var confirmed=window.confirm("OTP has been Sent! click on Ok for confirmation. If not please press on Cancel button to resent OTP.");

    // var con=confirm("nkjbdkjavkjhdcv");
    if(confirmed){
      
      window.location="new_password.html";
    }
    else{

      alert("OTP has been resent!");
      window.location="forgot_password.html";
    }
  });
}

  </script>

</body>
</html>