<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body>
    <div class="body"> 
        <img src="static/iitgn.png" alt="Image 1" class="image1">
        <img src="static/hex.png" alt="Image 2" class="image2">
        <div class="text1">MAINTENANCE PORTAL</div> 
        <div class="text2">IIT GANDHINAGAR</div> 
        <div class="button-container">
           
            <button class="btn housing-btn" onclick="window.open('test_housing');">Housing</button>
            <button class="btn hostel-btn" onclick="window.open('test_hostel');">Hostel</button>
            <button class="btn guesthouse-btn" onclick="window.open('test_guest');">Guest House</button>
            <button class="btn specific-btn" onclick="window.open('test_specific');">Specific Location</button>
        </div>
    </div>
  </body>
</html>