<!DOCTYPE html>
<html>
<head>
  
  <title>Reset Password Form</title>
  <link rel="stylesheet" href="../static/new_password.css">
  
</head>
<body>
  
  <div class="hero">
<div class="form-box"> 
    <div class="text1">Reset Password</div>
  <form id="login" class="input-group" name="myForm" action="/new_password" method="Post" required>
    <input type="text" name="pas1" class="input-field" placeholder="New Password" required>
    <input type="password" name="pas2" class="input-field" placeholder="Confirm Password" required >
    <input type="text" name="OTP" class="input-field" placeholder="Enter OTP" required >
    <button type="submit" class="submit-btn" value="submit">Reset Password</button>
  </form>
</div>
  </div>

  <script>
    var x = document.getElementById("login")
    var z = document.getElementById("btn")

    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
    }

    

  </script>

</body>
</html>