<!DOCTYPE html>
<html>
<head>
  
  <title>verify with Google</title>
  <link rel="stylesheet" href="../static/verify.css">
  
</head>
<body>
  
  <div class="hero">
<div class="form-box"> 

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  

    <!-- <img src="logo.png" alt="Image 1" class="image1"> -->
    <!-- <div class="text1">Verification</div> -->
    <div class="text2">Verify your IITGN Google account</div>
  <form id="login" class="input-group" name="myForm" action="/OTP" method="Post" required>
    
    <div class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text"><b> Sign in with google</b></p>
    </div>
    <!-- <button type="submit" class="submit-btn1" id="sbm" value="submit">Sign-in with google</button> -->
  </form>
</div>

  </div>

  <script>
    var x = document.getElementById("login")
    var z = document.getElementById("btn")

    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
    }

    

  </script>

</body>
</html>