<!DOCTYPE html>
<html>
<head>
  
  <title>Reset Password Form</title>
  <link rel="stylesheet" href="../static/verify.css">
  
</head>
<body>
  
  <div class="hero">
<div class="form-box"> 
    <img src="logo.png" alt="Image 1" class="image1">
    <div class="text1">Verification</div>
    <div class="text2">To verify your email</div>
  <form id="login" class="input-group" name="myForm" action="/OTP" method="Post" required>
    <button type="submit" class="submit-btn1" id="sbm" value="submit">Sign-in with google</button>
  </form>
</div>
  </div>

  <script>
    var x = document.getElementById("login")
    var z = document.getElementById("btn")

    function login(){
      x.style.left = "50px";
      y.style.left = "450px";
      z.style.left = "0px";
    }

    

  </script>

</body>
</html>